BEDROCK_REGION=us-east-1
BEDROCK_MODEL_ID=amazon.nova-lite-v1:0
QUALITY_THRESHOLD=0.7
QUESTIONS_TABLE_NAME=questions-table-dev
SOURCE_DOCUMENTS_BUCKET_NAME=bucket-name-dev

# Optional environment variables
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_SESSION_TOKEN=your-session-token
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1